.base {
  background-color: #3ee4f5;
  padding: 15px 40px;
  text-align: left;
  display: flex;
  align-items: center;
  span {
    color: #fff !important;
  }
}
.logo {
  width: 160px;
}
.burgueMenu {
  cursor: pointer;
  margin-right: 50px;
}
