.base {
  background-color: #00bcd5;
  padding: 15px 40px;
  text-align: left;
  display: flex;
  align-items: center;
  span {
    color: #fff !important;
  }
}
.logo {
  width: 160px;
  margin-left: 50px;
}
