.login{
  width: 500px;
  margin: 0 auto;
  margin-top: 60px;
}
.login__form{
  background-color: #fff;
  padding: 20px 15px;
  margin-top: 30px;
}
.login__button{
  display: block;
  margin: 0 0 0 auto;
}
.logo{
  width: 220px;
}
